body{
	font:sans-serif;
	padding: 0;
	margin: 0;
	background-color: #F2F4F4;
}
header h1{
	margin:10px;
	text-align: center;
}




header{
	background:#52504F;
	color: white;
	font-family: sans-serif;
	font-size: 30px;
	margin: 0;
	padding-top: 30px;
	height: 120px;
	border-bottom: red 5px solid;
	
}
header a{
	color: white;
	text-decoration: none;
	font-size: 22px;

}
header ul{
	margin: 0;
	padding: 0;

}
header li{
	padding-top: 20px;
	float:left;
	display: inline;
	padding: 0 20px 0 20px;
	font-size: 15px;
}
nav{
	float: right;

}
#info{
	text-align: center;
	font-size: 25px;
	margin: auto;
	margin-left: 500px;
	margin-right: 25px;
	min-height: 400px;

}
#img1{
	height: 400px;
	float: left;
	width: 50%;
	margin-left: 20px;
	margin-top: 10px;
}
h3{
	font-size: 40px;
	text-align: center;
}

#rose{
	float: right;
	margin-right: 60px;
	margin-left: 20px;
	margin-top: 0px;
}
#bttv{
	font-size: 28px;
	margin-left: 200px;
}
#nr{
	font-size: 28px;
	margin-left: 200px;
}

#placesl{
	font-size: 25px;
	line-height: 40px;



}
